<h1>Lista de Artesanías !</h1>
<hr><br>

    <div class="Etiqueta">
        <tr>
            <div class="card" style="width: 18rem;">
                <img src="./assets/Image/KuroNeko.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">nombre</h5>
                  <p class="card-text">Precio: $15, Cantidad: 2 <br> Descripcion: prueba html</p>
                  <a class="btn btn-primary">Comprar</a>
                  <a class="btn btn-secondary" (click)="compraR()">Agregar al carrito</a>
                </div>
              </div>
        </tr>
    </div>

<br><br><br>

<button class="btn btn-success btn-lg Boton" (click)="alerta()">
    <i class="fas fa-plus-circle"></i> Boton Prueba N
</button>