<h1>Lista de Artesanías !</h1>
<input type="hidden" [(ngModel)]="carrito.ID_P1">
<input type="hidden" [(ngModel)]="carrito.ID_U1">
<!--<input type="text" [(ngModel)]="ID_U">-->
<hr><br>


<!---->
<select class="form-select-pais" aria-label="Default select example" [(ngModel)]="PAIS">
    <option selected>Selecciona el pais</option>
    <option value="México">México</option>
    <option value="E.E.U.U">E.E.U.U</option>
    <option value="China">China</option>
    <option value="Japon">Japon</option>
    <option value="Rusia">Rusia</option>
</select>
<!---->

<select class="form-select-tipo" aria-label="Default select example" [(ngModel)]="TIPO_P">
    <option selected>Selecciona tipo de articulo</option>
    <option value="A">Artesania</option>
    <option value="M">Manualidad</option>
</select>

<button class="btn-ref btn-success" (click)="Pais()">Refrescar</button>

<div class="row row-cols-0 row-cols-md-3" *ngIf="hayRegistros(); else sin">

    <div class="col-1" *ngFor="let producto of productos" enctype="multipart/form-data">
        <div class="card" border="1">
            <br>
            <div class="card-body">
                <img src="{{producto.FOTO_P}}" class="card-img-top" alt="Imagen no encontrada" width="200" height="250">
            </div>
            <div class="card-body">
                <input type="hidden" [(ngModel)]="producto.ID_P">
                <h5>{{producto.NOM_P}}</h5>
                <p>Precio: ${{producto.PRECIO}}</p>
                <p>Existencia: {{producto.CANTIDAD_E}}</p>
                <div class="form-group">
                    <a class="btn btn-success btn-block" (click)="carritoProducto(producto.ID_P)">SELECCIONAR</a>
                    <a class="btn btn-primary btn-block" (click)="Carrito()">GUARDAR</a>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>


<ng-template #sin>
    <p>No hay ningun usuario registrado.</p>
</ng-template>



<br><br><br>

<!--<button class="btn btn-success btn-lg Boton" (click)="alerta()">
    <i class="fas fa-plus-circle"></i> Boton Prueba N
</button>-->