<div class="container">
    <div class="media">
        <img src="assets/Image/paypal.png" class="mr-3" alt="..." width="300" height="">
        <div class="media-body">
          <h5 class="mt-0">PayPal</h5>
          Paga con tu <a href="http://Paypal.com" target="_blank">PayPal</a> de una manera facil y rapida
        </div>
      </div>
    
      <br>
    
      <div class="media">
        <img src="assets/Image/tarjeta.jpeg" class="mr-3" alt="..." width="300" height="">
        <div class="media-body">
          <h5 class="mt-0">Tarjetas Credito / Debito</h5>
          Paga con tus tarjetas de una manera facil, rapida y segura
        </div>
      </div>
    
      <br>
    
      <div class="media">
        <img src="assets/Image/visa.jpeg" class="mr-3" alt="..." width="300" height="">
        <div class="media-body">
          <h5 class="mt-0">Visa y Mastercad</h5>
          Paga con tus puntos mstercad si deseas.
        </div>
      </div>
    
      <br>
    
      <div class="media">
        <img src="assets/Image/transfer.png" class="mr-3" alt="..." width="300" height="">
        <div class="media-body">
          <h5 class="mt-0">Transferencia Bancaria</h5>
          Si no cuentas con una forma se pago electronico como las anteriores puedes realizar una transferencia bancaria en tu tienda bancaria de preferencia a la cuenta que te indique tu compra(ticket)
        </div>
      </div>
</div>