<div>
    <button class="btn btn-success" (click)="Carrito()">Refrescar</button>
    <table border=1 align="center"class="texto text-center">
        <tr>
            <td> Foto</td>
            <td> Nombre</td>
            <td> Precio</td>
            <td> Cantidad</td>
        </tr>
        <tr *ngFor="let carrito of CarritoV" enctype="multipart/form-data">
            <!--<td> {{carrito.FOTO_P}} </td>-->
            <td> <img src="{{carrito.FOTO_P}}" class="card-img-top" alt="Imagen no encontrada" width="100" height="150"> </td>
            <td class="texto"> {{carrito.NOM_P}} </td>
            <td class="texto"> {{carrito.PRECIO}} </td>
            <td class="texto"> {{carrito.CANTIDAD}}</td>
        </tr>
    </table>
</div>

<ng-template #sin>
    <p>No hay ningun producto registrado en tu carrito.</p>
</ng-template>