.dropdown{
    margin-left: 5px;
    /*margin-left: 5%;*/
}
.carrito{
    margin-left: 10px;
}
.modal-dialog {
    position: absolute;
    top: 5px;
    right: -500px;
    bottom: 0;
    left: 0;
    z-index: 10040;
    overflow: auto;
    overflow-y: auto;
}

.modal-body {
    color: #070707;

    background: #ee9ca7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ffdde1, #ee9ca7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ffdde1, #ee9ca7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}