<div class="row">
    <div class="col-md-6 mx-auto mt-5">
        <div class="card">
            <div class="card-body">
                <h1 class="text-center">INICIA SESION</h1>
                <form >
                    <div class="form-group">
                        <label >Email</label>
                        <input type="text" class="form-control" name="EMAIL" #EMAIL="ngModel" [(ngModel)]="login.EMAIL" >
                    </div>

                    <div class="form-group">
                        <label >Password</label>
                        <input type="password" class="form-control" name="CONTRASENA" #CONTRASENA="ngModel" [(ngModel)]="login.CONTRASENA" >
                    </div>

                    <button class="btn btn-primary btn-lg btn-block" (click)="LoginUsuario()">INICIA SESION</button>
                </form>
                <div class="form-group mt-3">
                    <p>No tienes una cuenta, <a routerLink="/Registrate">Registrate</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

