<div class="row">
    <div class="col-md-6 mx-auto mt-5">
        <div class="card">
            <div class="card-body">
                <h1 class="text-center">INICIA SESION</h1>
                <form >
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" >
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" >
                    </div>

                    <button type="submit" class="btn btn-primary btn-lg btn-block">INICIA SESION</button>
                </form>
                <div class="form-group mt-3">
                    <p>No tienes una cuenta, <a routerLink="/Register">Registrate</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
