<div class="row">
    <div class="col-md-6 mx-auto mt-8">
        <div class="card">
            <h1 class="text-center">¡Nueva Artesania!</h1>
            <hr>
            <div class="card-body">

                <form>
                    <div class="card">
                        <div class="form-group">
                            <label for="exampleFormControlFile1">Seleccione la imagen de su producto</label>
                            <input type="file" class="form-control-file" id="exampleFormControlFile1">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Tipo de Producto</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>Artesania</option>
                            <option>Manualidad</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="Nombre">Nombre</label>
                        <input type="text" class="form-control" placeholder="Escriba un nombre">
                    </div>

                    <div class="form-group">
                        <label for="Precio">Precio</label>
                        <input type="text" class="form-control" placeholder="Establece un Precio">
                    </div>

                    <div class="form-group">
                        <label for="Cantidad">Cantidad</label>
                        <input type="text" class="form-control" placeholder="Indica la Cantidad en Existencia">
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Pais/Estado</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>México</option>
                            <option>E.E.U.U</option>
                            <option>China</option>
                            <option>Japon</option>
                            <option>Rusia</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="Descripcion">Descripcion</label>
                        <textarea class="form-control" id="Descrpcion" rows="3"
                            placeholder="Escriba una Descripcion"></textarea>
                    </div>
                    <hr>

                    <div class="form-group">
                        <div>
                            <button class="btn btn-success btn-lg btn-block">GUARDAR</button>
                        </div>

                    </div>

                </form>

            </div>
        </div>
    </div>
</div>