<div class="row">
    <div class="col-md-6 mx-auto mt-8">
        <div class="card">
            <h1 class="text-center">¡Nuevo Producto!</h1>
            <hr>
            <div class="card-body">
                <input type="hidden" name="ID_P" #ID_P="ngModel" [(ngModel)]="producto.ID_P">

                <form>
                    <div class="card">
                        <div class="form-group">
                            <label for="exampleFormControlFile1">Seleccione la imagen de su producto</label>
                            <input type="file" class="form-control-file" id="exampleFormControlFile1"
                            accept="image/*" (change)="seleccionarArchivo($event)">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Tipo de Producto</label>
                        <select class="form-control" id="exampleFormControlSelect1" name="TIPO_P" #TIPO_P="ngModel" [(ngModel)]="producto.TIPO_P">
                            <option value="A">Artesania</option>
                            <option value="M">Manualidad</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="Nombre">Nombre</label>
                        <input type="text" class="form-control" placeholder="Escriba un nombre" name="NOMBRE" #NOMBRE="ngModel" [(ngModel)]="producto.NOM_P">
                    </div>

                    <div class="form-group">
                        <label for="Precio">Precio</label>
                        <input type="text" class="form-control" placeholder="Establece un Precio" name="PRECIO" #PRECIO="ngModel" [(ngModel)]="producto.PRECIO">
                    </div>

                    <div class="form-group">
                        <label for="Cantidad">Cantidad</label>
                        <input type="number" class="form-control" placeholder="Indica la Cantidad en Existencia" name="CANTIDAD_E" #CANTIDAD_E="ngModel" [(ngModel)]="producto.CANTIDAD_E">
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Pais/Estado</label>
                        <select class="form-control" id="exampleFormControlSelect1" name="PAIS" #PAIS="ngModel" [(ngModel)]="producto.PAIS">
                            <option>México</option>
                            <option>E.E.U.U</option>
                            <option>China</option>
                            <option>Japon</option>
                            <option>Rusia</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="Descripcion">Descripcion</label>
                        <textarea class="form-control" id="Descrpcion" rows="3"
                            placeholder="Escriba una Descripcion" name="DESCRIPCION" #DESCRIPCION="ngModel" [(ngModel)]="producto.DESCRIPCION"></textarea>
                    </div>
                    <hr>

                    <div class="form-group">
                        <div>
                            <button class="btn btn-success btn-lg btn-block" (click)="nuevoP()">GUARDAR</button>
                        </div>

                    </div>

                </form>

            </div>
        </div>
    </div>
</div>