<div class="card">
    <div class="card-body">
        <h2 class="font-weight-bold">POLÍTICAS GENERALES:</h2>
        <p>
            Dentro de nuestras políticas generales podemos observar que: <br> <br>
            1. No permitiremos la venta o compra de algún tipo de producto si este no cuenta con la justificación física
            que su existencia si como la valoración mas realista que pueda presentarse en esta. <br>
            2. KuroNeko se compromete a brindarle la mejor atención al cliente en todo momento. <br>
            3. Procuramos ofrecer productos originarios de cada zona natal a la cual pertenece (es decir, dependiendo de
            su categoría). <br>
            4. La mayor parte de nuestras manualidades son realizadas con materiales amigables con el ambiente.

        </p>
    </div>
</div>

<br>

<div class="card">
    <div class="card-body">
        <h2 class="font-weight-bold">POLÍTICAS DE DEVOLUCIÓN:</h2>
        <p>
            Si no estás conforme con nuestro producto, puedes realizar un cambio de este de alguna de las siguientes
            formas: <br> <br>

            1. En cualquiera de nuestras tiendas podrás cambiarlo por un producto del mismo valor. <br>
            2. Desde tu domicilio. Para esto deberás ponerte en contacto a KuroNekoOficial@hotmail.com y nosotros nos
            pondremos en contacto con la empresa de correos para que retiren el producto. Podrás cambiar el producto por
            otro del mismo valor, que también será enviado a tu domicilio.
            <br> <br>
            Las devoluciones sólo pueden ser realizadas dentro de los 15 días siguientes a la compra para evitar que te
            cobremos el pedido de cambio. También tendremos en cuenta las enmendaduras y tipos de rupturas.

        </p>
    </div>
</div>

<br>

<div class="card">
    <div class="card-body">
        <h2 class="font-weight-bold">POLÍTICAS DE PRIVACIDAD:</h2>
        <p>
            En KuroNeko nos comprometemos a mantener segura todos los datos que nos proporciones a la hora de tu
            registro y uso de nuestra pagina, no realizaremos usos indebidos de la misma. <br><br>

            Mantén tu sesión cerrada una vez hayas terminado de comprar algún producto, ya que no nos aremos
            responsables de lo que pueda suceder si alguien accede a tus datos desde tu dispositivo, <br><br>

            En caso de que ellas sufrido de algún robo o extravió de tu cuenta será necesario comunicarte con nosotros,
            puede ser vía redes sociales o correo electrónico.

        </p>
    </div>
</div>

<br>