<h1> ACERCA DE NOSOTROS...</h1> <br>
<div class="card">
    <div class="card-body">
        <h2 class="font-weight-bold">MISIÓN:</h2>
        <p>
            Inculcar fragmentos de las culturas de diversas partes del mundo mediante artesanías y manualidades con el
            propósito de brindar una perspectiva desde otro ángulo.
        </p>

    </div>
</div>

<hr>

<div class="card">
    <div class="card-body">
        <h2 class="font-weight-bold">VISIÓN:</h2>
        <p>
            Ser una comunidad a nivel mundial capaz de difundir el arte de las culturas con el fin de inculcar y
            dar a conocer las tradiciones y creencias de las demás naciones.
        </p>

    </div>
</div>

<hr>

<div class="card">
    <div class="card-body">
        <h2 class="font-weight-bold">UBICACIÓN:</h2>
        <p>
            Nos puedes encontrar en: <br>
            Entre Av. Pichardo pagaza y la calle Francisco Javier Mina Mz.11 Lt.27
            Col. Nueva Aragón. Edo. México, Ecatepec de Morelos.
            El local se encuentra sobre la avenida en la esquina de lado izquierdo.
            <br> <br><br>

            <img class="center" [src]="Ubic" alt="" width="800" height="600"/>

        </p>

    </div>
</div>

<hr>

<div class="card">
    <div class="card-body">
        <h2 class="font-weight-bold">CONTACTANOS EN:</h2>
        <p>
         Redes Sociales: <br>
        facebook
        <a href="https://www.facebook.com/" target="_blank">kuronekooficial@hotmail.com</a> <br>
        Instagram: <br>
        <a href="https://www.instagram.com/?hl=es-la" target="_blank">@kuroneko736</a> <br>

        Otras paginas: <br>
        <a href="https://kuroneko.mitiendanube.com">Tienda en TiendaNube</a> <br>
        <a href="https://kuronekoocicial.wixsite.com/artesanias" target="_blank">Tienda en Wix</a> <br>

        Correo Electronico: <br>
        <a href="kuronekooficial@hotmail.com" target="_blank">kuronekooficial@hotmail.com</a> <br>

        Nuestro Telefono: <br>
        (whatsApp) +52 5565247724 <br>
        (Tel). 55-71-61-49-62
        </p>

    </div>
</div>
