<div align="center">
    <h1>LISTA DE USUARIOS</h1>
    <table border="1" *ngIf="hayRegistros(); else sin">
        <tr>
            <td>ID</td>
            <td>NOMBRE</td>
            <td>APELLIDO_P</td>
            <td>APELLIDO_M</td>
            <td>EDAD</td>
            <td>SEXO</td>
            <td>FOTO</td>
            <td>SOBRENOMBRE</td>
            <td>EMAIL</td>
            <td>CONTRASEÑA</td>
            <td>CALLE</td>
            <td>COL</td>
            <td>D/M</td>
            <td>PAIS</td>
            <td>SELECCIONAR</td>
            <td>ELIMINAR</td>
        </tr>

        <tr *ngFor="let usuario of usuarios">
            <td>{{usuario.ID_U}}</td>
            <td>{{usuario.NOM_U}}</td>
            <td>{{usuario.AP_P}}</td>
            <td>{{usuario.AP_M}}</td>
            <td>{{usuario.EDAD}}</td>
            <td>{{usuario.SEXO}}</td>
            <td>{{usuario.FOTO}}</td>
            <td>{{usuario.SOBRENOMBRE}}</td>
            <td>{{usuario.EMAIL}}</td>
            <td>{{usuario.CONTRASENA}}</td>
            <td>{{usuario.ID_CALLE1}}</td>
            <td>{{usuario.ID_COL1}}</td>
            <td>{{usuario.ID_DM1}}</td>
            <td>{{usuario.ID_PA1}}</td>
            <td> <button (click)="seleccionarUsuario(usuario.ID_U)">Seleccionar</button></td>
            <td> <button (click)="bajaUsuario(usuario.ID_U)">Eliminar</button></td>
        </tr>
    </table>

    <ng-template #sin>
        <p>No hay ningun usuario registrado.</p>
    </ng-template>

    <hr><br>
    <!-------------------------------------------------------------------->
    <div class="text-center">
        <p>ID: <input type="text" [(ngModel)]="usuario.ID_U" /> </p>
        <p>NOMBRE: <input type="text" [(ngModel)]="usuario.NOM_U" /> </p>
        <p>APELLIDO_P: <input type="text" [(ngModel)]="usuario.AP_P" /> </p>
        <p>APELLIDO_M: <input type="text" [(ngModel)]="usuario.AP_M" /> </p>
        <p>EDAD: <input type="number" [(ngModel)]="usuario.EDAD" /> </p>
        <p>SEXO: <input type="text" [(ngModel)]="usuario.SEXO" /> </p>
        <p>FOTO: <input type="text" [(ngModel)]="usuario.FOTO" /> </p>
        <p>SOBRENOMBRE: <input type="text" [(ngModel)]="usuario.SOBRENOMBRE" /> </p>
        <p>EMAIL: <input type="text" [(ngModel)]="usuario.EMAIL" /> </p>
        <p>PASSWORD: <input type="text" [(ngModel)]="usuario.CONTRASENA" /> </p>
        <p>CALLE: <input type="number" [(ngModel)]="usuario.ID_CALLE1" /> </p>
        <p>COLONIA: <input type="number" [(ngModel)]="usuario.ID_COL1" /> </p>
        <p>DM: <input type="number" [(ngModel)]="usuario.ID_DM1" /> </p>
        <p>PAIS: <input type="number " [(ngModel)]="usuario.ID_PA1" /> </p>
        <p>
            <button (click)="altaUsuario()">AGREGAR</button>
            <button (click)="editarUsuario()">MODIFICAR</button>
        </p>
       
    </div>
</div>